{% extends "layout.html" %}
<div class="page-header" style="margin: 0 auto">
<h1>Homebrew Comp {{ comp.id }}</h1>
</div>
{% block body %}
<form style='max-width:500px;margin:0 auto' method='post'>
  <label for='name'>Beer Name</label>
  <input name='name' class='form-control'>
  <label for='brewer'>Brewer</label>
  <input name='brewer' class='form-control' required>
  <label for='style'>Style</label>
  <input name='style' class='form-control' required>
<button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
<h1>
  <span class='label label-danger'>
    <a href='/comp/view/{{comp.id}}' style='color:white'>Done</a>
  </span>
</h1>
</form>
{% endblock %}
