<div class="panel panel-default">
  <div class="panel-heading">
    <a data-toggle="collapse" href="#collapse{{ beer.id }}">
        <h3 class="panel-title">Beer # {{ idx }} # {{ beer.name }}</h3>
    </a>
  </div>
  <div class="panel-collapse collapse" id="collapse{{ beer.id }}">
  <div class="panel-body">
    {% for name in names %}
    <label> {{ name }}: out of {{ limit[name] }} </label>
    <input name="{{ name }}_{{ beer.id }}" class="form-control" required type="number" min="0" max="{{ limit[name] }}">
    <br />
    {% endfor %}
  </div>
  </div>
</div>
