{% extends "layout.html" %}
{% block body %}
<div class="page-header" style="margin: 0 auto">
<h1>Homebrew Comp {{ comp_id }}</h1>
</div>

<form style='max-width:500px;margin:0 auto'>
  {% for beer in beers %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <a data-toggle="collapse" href="#collapse{{ beer.id }}">
        <h3 class="panel-title">Beer # {{ beer.id }}</h3>
      </a>
    </div>
    <div class="panel-collapse collapse" id="collapse{{ beer.id }}">
    <div class="panel-body">
      {% for name in names %}
      <label> {{ name }}: out of {{ limit[name] }} </label>
      <input id="{{ name }}_{{ beer.id }}" class="form-control" required type="number" min="0" max="{{ limit[name] }}">
      <br />
      {% endfor %}
    </div>
    </div>
  </div>
  {% endfor %}
  <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>
{% endblock %}
