{% extends "layout.html" %}
{% block body %}
<div class="page-header" style="margin: 0 auto">
  <h1>Homebrew Comp {{ comp.name }}</h1>
</div>
<div style='max-width:500px;margin:0 auto'>
  <div>
    <h3>Beers</h3>
    {% if not comp.completed %}
    <a href="{{ url_for('new_beer', comp_id=comp.id) }}">Add</a> |
    <a href="{{ url_for('rate_comp', comp_id=comp.id) }}">Rate</a> |
    <a href="{{ url_for('end_comp', comp_id=comp.id) }}">End Competition</a>
    {% endif %}
  </div>
  <div class="row">
    <div class="">
      <table class="table">
        <thead>
          <tr>
            <th>Brewer</th>
            <th>Beer Name</th>
            <th>Beer Style</th>
            <th>Rating</th>
            {% if not comp.completed %}
            <th> Rate </th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for beer in beers %}
          <tr>
            <td>{{ beer.brewer }}</td>
            <td>{{ beer.name }}</td>
            <td>{{ beer.style }}</td>
            <td>{{ beer_rating_func(beer, not comp.completed) }}</td>
            {% if not comp.completed %}
            <td><a href="{{ url_for('rate_beer', beer_id=beer.id) }}">Rate</a></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
