{% extends "layout.html" %}
{% block body %}
<div class="page-header" style="margin: 0 auto">
  <h1>Homebrew Comp {{ comp.name }}</h1>
</div>
<div style='max-width:500px;margin:0 auto'>
  <div>
    <h3>Beers</h3>
    {% if not comp.completed %}
    <a href="{{ url_for('new_beer', comp_id=comp.id) }}">Add</a> |
    <a href="{{ url_for('rate_comp', comp_id=comp.id) }}">Rate</a> |
    <a href="{{ url_for('end_comp', comp_id=comp.id) }}">End Competition</a>
    {% endif %}
  </div>
  <ul>
    {% for beer in beers %}
      <li>
          {{ beer.brewer }} : {{ beer.name }} : {{ beer.style }} : {{ beer |
          beer_rating_count }}
        {% if not comp.completed %}
        <a href="{{ url_for('rate_beer', beer_id=beer.id) }}">Rate</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
